.container {
  background-color: var(--background);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

/* .hero {} */

/* .categories {} */

/* .soon {} */

/* .list {} */

/* .footer {} */